version: "3"

services:
  api:
    build: .
    container_name: fastapi_app
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env


  frontend-prod:
    build: ./frontend
    container_name: frontend-prod
    ports:
      - "3000:80"